.cards{
  display: flex;
  flex-wrap: wrap;
}


.card {
  display: flex;
  padding: 25px;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 10px 30px rgba(147, 0, 221, 0.15);
  margin: 20px;
  flex-basis: 300px;
  flex-grow: 1;
}
.card img {
  width: 150px;
  border-radius: 5px;
}
.card h3 {
  flex-grow: 1;
  padding-left: 20px;
  font-size: 18px;
}
